.navbar{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background: #fff;

}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;

}
.logo image{
    width: 40px;

}

.menu a{
    margin: 0 15px;
    text-decoration: none;
    color: #1f2937;
    font-weight: 500;
}
.nav-btn button{
    background: #3f8f68;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}