.navbar{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    background: #fff;

}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;

}
.logo image{
    width: 40px;

}

.menu a{
    margin: 0 15px;
    text-decoration: none;
    color: #1f2937;
    font-weight: 500;
}
.nav-btn button{
    background: #3f8f68;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.baner{
    
    width:100%;
    height: 674px;
    background: url(../image/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   
    align-items: center;
    justify-content: center;
    color: white;
}

.oberlay{
    position: absolute;
    inset: 0 ;
    background-color:#001e3cbf ;
}

.content{
    position: relative;
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.badeg{
    display: inline-block;
    background-color: white;
    color: green;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;

}

h1{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
    
}

h1 span{
    color: #30b868;

}

p{
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 30px;

}

.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.btn{
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
}

.primary{
    background: #30b868;
    color: #d8faf3;

}
.secondary{
    border: 1px solid white;
    color: whitesmoke;
}